<%#
  # Partial: edit.html
  # Date: 11/25/2025
  # Author: Moisés Reis
  # Package: Meta
  #
  # Description: Presents the form for the current user to update their account details, including email, name, and password.
  #              The view also provides a separate action block for account deletion.
  #
  # Usage: - What: Renders the interface where an authenticated user modifies their profile information (email, name, password).
  #                This page requires the user's current password to authorize any changes for security purposes.
  #        - How: Accessed via the Devise edit registration path (e.g., /users/edit).
  #               Submits updates using a PUT request to the registration path.
  #        - Why: Enables user management of their personal data and security credentials, fulfilling common application requirements.
  %>
<%= render 'partials/route/dashboard/wrapper',
           page_title: "Editar perfil",
           page_desc: "Faça alterações nos seus dados de usuário" do
%>
  <%= form_for(resource,
               as: resource_name,
               url: registration_path(resource_name),
               html: { method: :put }) do |f|
  %>
    <%= render "partials/modules/input-field",
               f: f,
               name: :email,
               label: "Informe seu e-mail",
               field_type: :email_field,
               placeholder: "seuemail@email.com",
               is_half_width: true,
               desc: "Informe um e-mail válido",
               icon_name: "mail"
    %>
    <%= render 'partials/modules/separator' %>
    <div class="grid grid-cols-2 gap-6">
      <%= render "partials/modules/input-field",
                 f: f,
                 name: :first_name,
                 label: "Primeiro nome",
                 field_type: :text_field,
                 placeholder: "Maria",
                 desc: "Informe seu primeiro nome",
                 icon_name: "person_text"
      %>
      <%= render "partials/modules/input-field",
                 f: f,
                 name: :last_name,
                 label: "Último nome",
                 field_type: :text_field,
                 placeholder: "Silva",
                 desc: "Informe seu último nome",
                 icon_name: "person_text"
      %>
    </div>
    <%= render 'partials/modules/separator' %>
    <div class="grid grid-cols-2 gap-6">
      <%= render "partials/modules/input-field",
                 f: f,
                 name: :password,
                 label: "Crie uma senha",
                 field_type: :password_field,
                 placeholder: "SuaSenha123@",
                 desc: "Crie uma senha segura com, pelo menos, 6 caracteres",
                 icon_name: "passkey"
      %>
      <%= render "partials/modules/input-field",
                 f: f,
                 name: :password_confirmation,
                 label: "Confirme sua senha",
                 field_type: :password_field,
                 placeholder: "SuaSenha123@",
                 desc: "Repita sua senha",
                 icon_name: "passkey"
      %>
    </div>
    <%= render 'partials/modules/separator' %>
    <%= render "partials/modules/input-field",
               f: f,
               name: :current_password,
               label: "Crie uma senha",
               field_type: :password_field,
               placeholder: "SuaSenha123@",
               desc: "Precisamos de sua senha atual para autorizar a mudança",
               icon_name: "passkey",
               is_half_width: true
    %>
    <%= f.button :submit, class: "button w-fit flex items-center gap-2" do %>
      <%= inline_svg_tag "icons/refresh.svg" %>
      <%= content_tag :span, "Atualizar" %>
    <% end %>
  <% end %>
  <%= render 'partials/blocks/card',
             bg_path: "pixeltrue/bomb-9.svg",
             is_danger: true,
             card_title: "Excluir conta".html_safe,
             card_desc: "Você deseja deletar sua conta e todos os seus dados? Esta ação é irreversível" do
  %>
    <%= button_to registration_path(resource_name),
                  data: { confirm: "Você tem certeza?", turbo_confirm: "Você tem certeza?" },
                  class: "button button-danger w-fit",
                  method: :delete do
    %>
      <%= inline_svg_tag "icons/delete_forever.svg" %>
      <%= content_tag :span, "Deletar minha conta" %>
    <% end %>
  <% end %>
<% end %>