<% status ||= :default %>

<%
  is_outline ||= true
  card_title ||= nil
  card_icon ||= nil
  card_data ||= nil
  card_data_icon ||= nil
%>

<%
  theme = {
            success: {
              bg: "bg-success-300",
              border: "border-success-300",
              card_bg: "bg-success-100",
              stroke: "stroke-success-50",
              text: "text-body",
              badge: "badge-success"
            },
            danger: {
              bg: "bg-danger-300",
              border: "border-danger-300",
              card_bg: "bg-danger-100",
              stroke: "stroke-danger-50",
              text: "text-body",
              badge: "badge-danger"
            },
            alert: {
              bg: "bg-alert-300",
              border: "border-alert-300",
              card_bg: "bg-alert-100",
              stroke: "stroke-alert-50",
              text: "text-body",
              badge: "badge-alert"
            },
            secondary: {
              bg: "bg-secondary-300",
              border: "border-secondary-300",
              card_bg: "bg-secondary-100",
              stroke: "stroke-secondary-50",
              text: "text-body",
              badge: "badge-secondary"
            },
            primary: {
              bg: "bg-primary-300",
              border: "border-primary-300",
              card_bg: "bg-primary-100",
              stroke: "stroke-primary-50",
              text: "text-body",
              badge: "badge-primary"
            },
            teal: {
              bg: "bg-teal-300",
              border: "border-teal-300",
              card_bg: "bg-teal-100",
              stroke: "stroke-teal-50",
              text: "text-body",
              badge: "badge-teal"
            },
            honeysuckle: {
              bg: "bg-honeysuckle-300",
              border: "border-honeysuckle-300",
              card_bg: "bg-honeysuckle-100",
              stroke: "stroke-honeysuckle-50",
              text: "text-body",
              badge: "badge-honeysuckle"
            },
            indigo: {
              bg: "bg-indigo-300",
              border: "border-indigo-300",
              card_bg: "bg-indigo-100",
              stroke: "stroke-indigo-50",
              text: "text-body",
              badge: "badge-indigo"
            },
            default: {
              bg: "bg-neutral-200",
              border: "border-border",
              card_bg: "bg-accent",
              stroke: "stroke-body",
              text: "text-body",
              badge: "badge-accent"
            }
          }[status.to_sym] || theme[:default]
%>

<% badge_classes = ["badge", (theme[:badge]), ("badge-accent" if is_outline)].compact.join(" ") %>

<div class="shadow-xs rounded-base h-56 flex flex-col justify-between items-start bg-accent p-1 pb-0">

  <div class="flex flex-col justify-between items-start gap-3 p-6 h-full w-full rounded-base bg-white">

    <div class="text-3xl font-normal line-clamp-1 text-muted">
      <%= yield %>
    </div>

    <%# Explanation:: This block checks if there is extra info like a
      #               percentage. If data exists, it draws a small
      #               colored badge to make that information pop out.
      %>
    <% if card_data.present? %>
      <div class="<%= badge_classes %> !shadow-none">

        <%# Explanation:: This checks if the badge needs a small arrow or symbol.
          #               It helps the user understand trends, such as
          #               whether a value is going up or down.
          %>
        <% if card_data_icon.present? %>
          <%= inline_svg_tag("icons/#{card_data_icon}.svg") %>
        <% end %>
        <%= content_tag :p, card_data %>
      </div>
    <% end %>
  </div>

  <div class="flex flex-row justify-start gap-1.5 items-center w-full h-12 px-3 py-1.5">

    <div class="p-1 rounded-base">
      <%= inline_svg_tag("icons/#{card_icon}.svg", class: "size-3.5") %>
    </div>

    <%= content_tag :h3, card_title, class: "font-mono text-body uppercase font-semibold text-sm" %>

  </div>
</div>
