<%#
  PARTIAL: _links.html.erb
  DESCRIPTION: Renders contextual navigation links for Devise authentication actions.
               Conditionally shows sign-in, registration, and password recovery links.
  LOCAL VARIABLES:
    - resource_name: [Symbol] The Devise resource name (:user).
    - devise_mapping: [Devise::Mapping] Configuration object for the resource.
%>

<%# ====== VISUAL SEPARATOR ====== %>

<div class="relative flex items-center justify-center w-full my-3">

  <%= content_tag :p, "Ou", class: "absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 bg-white font-semibold font-body text-muted uppercase text-xs w-12 text-center" %>

  <div class="h-[1px] bg-border w-full"></div>

</div>

<%# ====== NAVIGATION LINKS ====== %>

<div class="flex flex-row items-center justify-between gap-3 w-full">

  <%- if controller_name != 'sessions' %>

    <%= link_to new_session_path(resource_name),
                class: "button button-outline w-full" do %>

      <%= content_tag :span, "Já tenho uma conta" %>

    <% end %>

  <% end %>

  <%- if devise_mapping.registerable? && controller_name != 'registrations' %>

    <%= link_to new_registration_path(resource_name),
                class: "button button-outline w-full" do %>
      <%= content_tag :span, "Não tenho uma conta" %>
    <% end %>
  <% end %>

</div>
