<%#
  VIEW: app/components/layout/dashboard_wrapper_component.html.erb
  ACTION: Layout::DashboardWrapperComponent

  INSTANCE VARIABLES:
  - @page_title:   [String] Title displayed in the dashboard layout (required).
  - @page_desc:    [String, nil] Optional page description.
  - @current_view: [String] Current dashboard view mode ("form", "show", "index").
%>

<!-- Layout::DashboardWrapperComponent -->
<% content_for :title do %>
  <%= AppConstants::COMPANY_NAME_SHORT %> - <%= @page_title %>
<% end %>

<main class="grid grid-cols-16 justify-start w-screen no-scrollbar"
      data-controller="sidebar">

  <%= render "partials/route/dashboard/sidebar" %>

  <div data-sidebar-target="container"
       class="col-span-10 md:col-span-12 xl:col-span-14">
    <%= render(Layout::DashboardContainerComponent.new(
          page_title:   @page_title,
          page_desc:    @page_desc,
          current_view: @current_view
        )) do %>
      <%= content %>
    <% end %>
  </div>

</main>
