<%#
  # Partial: _select.html
  # Date: 11/22/2025
  # Author: Moisés Reis
  # Package: Meta
  #
  # Description: Renders a form-backed HTML `<select>` dropdown field with a standardized design.
  #              It includes label, custom CSS for styling consistency, error handling, and an optional description text.
  #
  # Usage: - What: Renders a form select dropdown for user input.
  #                Ensures consistent styling and includes built-in error message display.
  #        - How: Pass the necessary form builder (`f`), field name (`name`), label text (`label`), and available options (`options_collection`).
  #               Optional parameters include `is_half_width`, `desc` (description text), and `is_inactive` (to disable the select).
  #        - Why: Provides a reusable, accessible, and visually consistent select input component.
  #               Centralizes the styling and error presentation logic for form selects across the application.
  %>

<%# [Variable]: Defines whether the select input is disabled.
  #             It defaults to `nil` (false) if not explicitly passed by the caller.
  %>
<% is_inactive ||= nil %>

<%# [Variable] Defines the CSS classes for the input label. %>
<%
  label_classes = [
    "flex",
    "items-center",
    "gap-1.5",
    "text-xs",
    "font-body",
    "leading-none",
    "font-semibold",
    "select-none",
    "group-data-[disabled=true]:pointer-events-none",
    "group-data-[disabled=true]:opacity-50",
    "peer-disabled:cursor-not-allowed",
    "peer-disabled:opacity-50"
  ].join(" ")
%>

<%# [Variable] Defines the CSS classes for the field description text. %>
<% desc_classes = "flex items-center gap-1.5 text-xs text-muted leading-none font-normal select-none group-data-[disabled=true]:pointer-events-none group-data-[disabled=true]:opacity-50 peer-disabled:cursor-not-allowed peer-disabled:opacity-50" %>

<%# [Variable] Defines the CSS classes for the description text when errors are present. %>
<% desc_classes_with_error = desc_classes + " !text-danger-600 !bg-danger-50 p-1.5 px-3 border border-danger-100 rounded-base w-fit" %>

<%# [Variable] Checks if the input should have half the width. %>
<% is_half_width ||= false %>

<div class="relative flex flex-col justify-start gap-1.5">
  <%= f.label name, label, class: label_classes %>
  <div class="relative <%= is_half_width ? '!w-1/2' : '' %>">
    <%= f.select name, options_collection, {}, {
      class: "js-tomselect",
      disabled: is_inactive,
      aria: { describedby: "#{name}-desc", invalid: f.object.errors[name].present? }
    } %>
    <%= inline_svg_tag "icons/chevron-down.svg",
                       class: "size-3.5 z-10 pointer-events-none absolute right-3 top-1/2 -translate-y-1/2 stroke-muted"
    %>
  </div>
  <% if f.object.errors[name].present? %>
    <%= content_tag :span,
                    f.object.errors.full_messages_for(name).first,
                    class: desc_classes_with_error
    %>
  <% end %>
  <%= content_tag :p,
                  desc,
                  class: desc_classes,
                  id: "#{name}-desc" if desc.present?
  %>
</div>