<%#
  # Partial: _container.html
  # Date: 11/12/2025
  # Author: Moisés Reis
  # Package: Meta
  #
  # Description: Defines the main container for authentication pages.
  #              Organizes the logo, welcome message, form, and footer sections in a vertical layout.
  #              Uses Tailwind utilities for responsive alignment and spacing.
  #
  # Usage: - What: Serves as the central structure for authentication views such as sign up and login.
  #                Displays the brand logo, introductory text, and form content with consistent spacing.
  #        - How:  Called with dynamic `welcome_message` and `welcome_feedback` content.
  #                Yields inner form components (e.g., registration or login forms) to the layout.
  #        - Why:  Ensures a unified, vertically aligned composition across all authentication pages.
  %>
<section class="relative flex flex-col items-center bg-accent/10 justify-center col-span-5 h-full min-h-screen w-full gap-9 overflow-x-hidden m-auto py-6">
  <div class="flex flex-col items-start justify-start gap-1.5 w-1/3">
    <%= content_tag :h1, welcome_message, class: "text-heading font-heading text-4xl font-normal text-left" %>
    <%= content_tag :p, welcome_feedback, class: "text-muted font-body text-base font-normal text-left" %>
  </div>
  <div class="flex flex-col items-start justify-center w-1/3 gap-3 p-3 border border-border rounded-base shadow-sm">
    <%= yield %>
    <%= render "devise/shared/links" %>
  </div>
  <div class="absolute bottom-3 left-1/2 -translate-x-1/2">
    <%= render 'partials/modules/copyright' %>
  </div>
</section>