<!-- Forms::DateField [<%= @name %>] -->

<div class="relative flex flex-col justify-start gap-1.5">

  <% if @label.present? %>
    <%= @f.label @name, @label, class: FormStyles::LABEL_CLASSES %>
  <% end %>

  <div class="relative <%= wrapper_width_class %>">

    <%= @f.send(
          @field_type,
          @name,
          value:        @value,
          placeholder:  @placeholder,
          class:        input_classes,
          disabled:     @is_inactive,
          data:         @data.merge(controller: "datepicker"),
          aria:         { describedby: aria_describedby, invalid: has_error? },
          autocomplete: "off"
        ) %>

    <% if @icon_name.present? %>
      <%= helpers.inline_svg_tag(
            "icons/#{@icon_name}.svg",
            class: "absolute size-4 right-3 top-1/2 -translate-y-1/2 stroke-muted"
          ) %>
    <% end %>

  </div>

  <% if has_error? %>
    <%= content_tag :p, error_message, class: desc_classes, id: aria_describedby %>
  <% elsif @desc.present? %>
    <%= content_tag :p, @desc, class: desc_classes, id: aria_describedby %>
  <% end %>

</div>